.container{
    display: flex; 
    background: linear-gradient(rgb(13, 140, 129), whitesmoke);
    flex-direction: column;
    align-items: center;
}

button{
    margin-top: 10px;
    margin-bottom: 10px;
}

p{
    max-width: 600px;
    max-height: fit-content;
}
